<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="application-name" content="Pub Tycoon">
  <meta name="apple-mobile-web-app-title" content="Pub Tycoon">
  <meta name="theme-color" content="#ffcf1e">

  <title>Pub Tycoon</title>

  <link rel="icon" type="image/png" sizes="72x72" href="/static/images/icon-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/images/icon-96x96.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="stylesheet" href="/dist/build/bundle.css">
</head>

<body>
  <ui-root></ui-root>
  <script src="/dist/build/bundle.js"></script>
</body>

</html>
