<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="application-name" content="Pub Tycoon">
  <meta name="apple-mobile-web-app-title" content="Pub Tycoon">
  <meta name="theme-color" content="#ffcf1e">

  <title>Pub Tycoon</title>

  <link href='https://www.pubtycoon.com/favicon.ico' rel='icon' type='image/x-icon'/>
  <link rel="icon" type="image/png" sizes="72x72" href="/static/images/icon-72x72.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/static/images/icon-96x96.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <link rel="stylesheet" href="/dist/build/bundle.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Material+Icons&display=swap" rel=stylesheet>
  <link href="/static/font/css/materialdesignicons.min.css" rel=stylesheet>
</head>

<body>
  <ui-root>
    <ui-loading>
      <div class="title">Pub Tycoon</div>
      <div class="version">v0.1-alpha1</div>
    </ui-loading>
    <ul class="menu-side">
      <li><ui-root-button class="disabled" icon="menu" size="default"></ui-root-button></li>
      <li><ui-root-button icon="bug_report" size="default"></ui-root-button></li>
      <li><ui-root-button icon="create" size="default"  onclick="window.game.gameToolManager.activeTool = 'roomFoundationBuild';"></ui-root-button></li>
      <li><ui-root-button icon="delete" size="default"></ui-root-button></li>
      <li><ui-root-button class="disabled"icon="timeline" size="default"></ui-root-button></li>
      <li><ui-root-button class="disabled"icon="work" size="default"></ui-root-button></li>
      <li><ui-root-button class="disabled"icon="shopping_cart" size="default"></ui-root-button></li>
      <li><ui-root-button class="disabled"icon="people" size="default"></ui-root-button></li>
    </ul>

    <ui-menu-panel>
      menu panel
    </ui-menu-panel>

    <!-- <ui-stats>stats</ui-stats> -->

    <ui-toast id="toast-build-room">Click &amp; drag to construct a new room.</ui-toast>
  </ui-root>
  <script src="/dist/build/bundle.js"></script>
</body>

</html>
